@model WebshopAdmin.Models.ProductCategory

@{
    ViewBag.Title = "Kategória törlése";
}

<h2>Kategória törlése</h2>

<h3>Biztosan törölhető?</h3>
<div>
    <h4>A kategória <em>összes</em> terméke törlődni fog!</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Lista", "Index")
        </div>
    }
</div>
