@model WebshopAdmin.Models.ProductCategory

@{
    ViewBag.Title = "Kategória részletei";
}

<h2>Kategória részletei</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Szerkesztés", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Lista", "Index")
</p>
